GitPython
Pillow
PyYAML
Pyarrow
accelerate
ansi-escapes
anthropic
black
chardet
flake8
flask
geom_median
google-generativeai
h5py
html2text
icecream
ipdb
ipython<8.0.0
joblib
julius
markdown
markdown2
matplotlib
mne
natsort
numpy
obspy
openai
openpyxl
optuna
pandas
plotly
psutil
pybids
pyedflib
pymatreader
pyperclip
pytest
pytest-cov
pytest-env
pytest-xdist
readchar
ripple_detection
ruamel.yaml
scikit-image
scikit-learn
scipy
seaborn
sktime
sktime
sounddevice
statsmodels
sympy
tensorpac
termplotlib
torch
torchaudio
torchsummary
transformers
twine
umap-learn
wheel
xarray
xmltodict
