# M-x sort-lines
GitPython
PyYAML
Pyarrow
chardet
h5py
icecream
joblib
julius
matplotlib
mne
natsort
numpy
obspy
openpyxl
optuna
pandas
psutil
pybids
pyedflib
pymatreader
pytest
pytest-cov
pytest-env
pytest-xdist
readchar
ripple_detection
ruamel.yaml
scikit-image
scikit-learn
scipy
seaborn
statsmodels
sympy
termplotlib
torch
torchaudio
torchsummary
umap-learn
wheel
xmltodict
sktime
